body {
    width: 900px;
    margin: auto!important;
}

.ui.card.launch-container {
    width: 100%;
}

.ui.card.launch-image {
    min-height: 430px;
}

.ui.segment.launch-description {
    width: 100%;
    margin-top: 0;
    min-height: 430px;
}

.launch-description-list.ui.grid {
    margin-bottom: auto;
}

.launch-heading {
    position: relative;
}

.launch-heading .ui.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
}

.ui.header>.image:not(.icon), .ui.header>img {
    width: 50px!important;
}


.ui.card .meta.rocket-filter > a:not(.ui) {
    color: #4183c4;
    font-weight: bold;
}

.ui.card .meta.launch-desc-min, .ui.cards>.card .meta.launch-desc-min {
    color: #292929;
    font-size: 110%;
    margin-bottom: 20px;
}